{{- $page := . -}}
{{- $isFirst := false -}}
{{- $isDetail := not (reflect.IsMap .) -}}
{{- if reflect.IsMap . -}}
    {{- with index . "context" }}{{ $page = . }}{{ end -}}
    {{- with index . "isFirst" }}{{ $isFirst = . }}{{ end -}}
{{- end -}}
{{- $priority := or $isFirst $isDetail -}}

<header class="article-header">
    {{- $image := partial "helper/image" (dict "Image" $page.Params.image "Resources" $page.Resources) -}}
    {{ if $image }}
    <div class="article-image">
        <a href="{{ $page.RelPermalink }}">
            {{ partial "helper/responsive-image" (dict
                "Page" $page
                "Image" $page.Params.image
                "Alt" (printf "Featured image of post %s" $page.Title)
                "Sizes" "(max-width: 640px) 100vw, (max-width: 1024px) 90vw, 1024px"
                "Priority" $priority
            ) }}
        </a>
    </div>
    {{ end }}

    {{ partialCached "article/components/details" $page $page.RelPermalink }}
</header>
